<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="crefil-eventlogs"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="CREFIL_EVENTLOGS"/>
    <stringAttribute key="TALEND_JOB_ID" value="_FoSmIBbkEe2nUJjx_L-uyw"/>
    <stringAttribute key="TALEND_JOB_NAME" value="JobAssertion"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="1.0"/>
</launchConfiguration>
